_site/
.DS_Store
*.Rproj.user
*.Rhistory
*.RData
*.pyc
__pycache__/
.Rproj.user/
.Rhistory
.ipynb_checkpoints/

/.quarto/
/git_ignored_content/
/admin/


/lab_import_data/solutions/
/lab_ggplot2/git_ignored/
/lab_ggplot2/solutions/
/lab_tidy_data/solutions/
/lab_dplyr/solutions/